<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>darkframe</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
    <script src="../js/controllers/index_controller.js"></script>
  </head>
  <body>
    <div class='title'>
      darkframe
      <br />
        <div class='subtitle'>
          for darkspeed 3.
        </div>
    </div>
    <div class='activate clickable' onclick="activate">
      <img src="../../assets/darkspeed.svg" class='activate-img'/>
    </div>
    <div class='settings clickable' onclick="expand_settings()">
      settings
    </div>
    <div class='settings-menu' id="settings">
      <div class="settings-item" id="settings_item_1" style='transition: 0.05s'>
        <div class="settings-text clickable" onclick="collapse_settings()">
          close
        </div>
      </div>
      <div class="settings-item" id="settings_item_2" style='transition: 0.1s'>
      </div>
      <div class="settings-item" id="settings_item_3" style='transition: 0.15s'>
      </div>
      <div class="settings-item" id="settings_item_4" style='transition: 0.2s'>
      </div>
      <div class="settings-item" id="settings_item_5" style='transition: 0.25s'>
      </div>
      <div class="settings-item" id="settings_item_6" style='transition: 0.3s'>
      </div>
      <div class="settings-item" id="settings_item_7" style='transition: 0.35s'>
      </div>
      <div class="settings-item" id="settings_item_8" style='transition: 0.4s'>
      </div>
      <div class="settings-item" id="settings_item_9" style='transition: 0.45'>
      </div>
      <div class="settings-item" id="settings_item_10" style='transition: 0.5s'>
      </div>
    </div>
  </body>
</html>
