<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>darkframe</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
    <script src="../js/controllers/index_controller.js"></script>
  </head>
  <body>
    <div class='title'>
      darkframe
      <br />
        <div class='subtitle'>
          for darkspeed 3.
        </div>
    </div>
    <div class='activate clickable' onclick="activate">
      <img src="../../assets/darkspeed.svg" class='activate-img'/>
    </div>
    <div class='settings clickable hoverable' onclick="expand_settings()">
      settings
    </div>
    <div class='settings-menu' id="settings">
      <div class="settings-item" id="settings_item_1" style='border-top-width: 2px;'>
        <div class="settings-top clickable" onclick="collapse_settings()">
            close
        </div>
      </div>
      <div class="settings-item" id="settings_item_2">
        <div class="settings-configuration clickable" onclick="expand_configuration()">
          configuration
        </div>
      </div>
      <div class="settings-item" id="settings_item_3">
      </div>
      <div class="settings-item" id="settings_item_4">
      </div>
      <div class="settings-item" id="settings_item_5">
      </div>
      <div class="settings-item" id="settings_item_6">
      </div>
      <div class="settings-item" id="settings_item_7">
      </div>
      <div class="settings-item" id="settings_item_8">
      </div>
      <div class="settings-item" id="settings_item_9">
      </div>
      <div class="settings-item" id="settings_item_10" style="border-bottom-width: 2px;">
      </div>
    </div>
    <div class='settings-menu' id="configuration">
      <div class="settings-item" id="config_item_1">
        <div class'settings-top clickable' onclick="expand_settings()">
          back
        </div>
      </div>
    </div>
  </body>
</html>
