body {
  background-color: #091C24;
}
.title {
  color: #510fff;
  font-size: 35pt;
  text-align: right;
  font-family: sans-serif;
}
.subtitle {
  color: #4c18d6;
  font-size: 18pt;
  width: 50%;
  float: right;
  text-align: right;
  font-family: sans-serif;
}
.activate {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 300px;
  bottom: 150px;
  background-color: #342460;
  border-radius: 100px;
  box-shadow: -3px 3px #251b42;
}
.activate-img {
  width: 180px;
  height: 180px;
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.settings {
  font-family: sans-serif;
  position: absolute;
  bottom: 10px;
  left: 10px;
  float: right;
  text-align: right;
  color: #4c18d6;
  font-size: 18pt;
}
.settings:hover {
  color: #510fff;
}
.settings-menu {
  height: 100%;
  width: 0%;
  z-index: 1;
  transition: 0.5s;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #342460;
}
.settings-close {
  position: absolute;
  right: 10px;
  top: 2px;
  font-family: sans-serif;
  color: #4c18d6;
  font-size: 18pt;
  width: 18px;
  height: 18px;
}
.settings-close:hover {
  color: #510fff;
  cursor: pointer;
}
.settings-item {
  width: inherit;
  height: 50px;
  background-color: #FFFFFF;
  transition: 0.5s;
  border-color: #510fff;
  border-width: 1px;
  border-top-width: 0.5px;
  border-style: solid;
}
.settings-item-borderless {
  width: inherit;
  height: 50px;
  background-color: #FFFFFF;
  transition: 0.5s;
}
.settings-text {
  font-family: sans-serif;
  color: #4c18d6;
  font-size: 18pt;
  height: auto;
  width: 25%;
  text-align: right;
  position: absolute;
  top: 8px;
  right: 10px;
  float: right;
}
.clickable:hover {
  cursor: pointer;
}
